<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onecric.CricketLive365">

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取sd -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>-->
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.onecric.CricketLive365.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.onecric.live.permission.JPUSH_MESSAGE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:node="remove" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"
        tools:node="remove" />
    <!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />
        <uses-permission android:name="android.permission.READ_SMS" />-->

    <application
        android:name="com.onecric.CricketLive365.AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">
        <activity
            android:name="com.onecric.CricketLive365.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.PreViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.WebViewNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.UsageViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.FootballMatchDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.FootballMatchSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.BasketballMatchSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.RangqiuIndexDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.HistoryIndexDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.FootballHistoryIndexDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.BasketballMatchDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MatchFilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ChargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.WithdrawActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyFollowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyReserveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyLevelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ActivityCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.SpeakerHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LiveDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="live_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.LiveMovingCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.OpenNobleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ModifyNickNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ModifyIntroductionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ChangePhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.PayPwdSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.BindAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.AccountInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.VideoCompletePlayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.HeadlineDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="headline_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.CommunityCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CommunityDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.RankingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CommunityPublishActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.GroupSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ThemeCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.VideoPublishActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CreatorApplyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.VideoPagerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="video_list"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.SearchMatchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CommonProblemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LiveMoreFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onecric.CricketLive365.activity.AttentionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onecric.CricketLive365.activity.CopyrightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyWalletActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.SearchLiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.SearchLiveDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MySpaceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.MyTaskActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LogoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.DefaultAvatarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.BasketballMatchDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.FootballMatchDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CricketInnerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="match_list"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.CricketDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cricket_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.CricketStatsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LoginNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.RegisterNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ForgetPwdNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.CricketTeamsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teams_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.PlayerProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="player_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.onecric.CricketLive365.activity.PlayerStatsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.ExpertAnalysisActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.TeamComparisonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LiveMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onecric.CricketLive365.activity.PersonalHomepageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.VideoSingleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onecric.CricketLive365.activity.LiveNotStartDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <!-- scheme设置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="live_not_start_detail"
                    android:scheme="onematch" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--高德地图定位服务-->
        <service android:name="com.amap.api.location.APSService"></service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1f5d8fea4feee58025dc433e3a1c665b" />

        <!--微信登录-->
        <activity
            android:name="com.onecric.CricketLive365.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <!--        <service-->
        <!--            android:name="com.onecric.live.service.JPlushService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false"-->
        <!--            android:process=":pushcore">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="cn.jiguang.user.service.action" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->


        <!--        <receiver-->
        <!--            android:name="com.onecric.live.service.JMessageReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->
        <!--                <category android:name="${applicationId}" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <!--        &lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="cn.jpush.android.ui.PushActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden"-->
        <!--            android:exported="false"-->
        <!--            android:theme="@android:style/Theme.NoTitleBar"-->
        <!--            tools:replace="android:exported">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="cn.jpush.android.ui.PushActivity" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="${applicationId}" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->


        <!-- 由于此类具有长连接功能，手机厂商省电优化时可能直接杀死包名带Engagelab字样的service -->
        <!-- 所以需要开发者继承com.engagelab.app.component.MTCommonService，提升长连接存活率，已达到提高消息到达率的目的 -->
        <service
            android:name="com.onecric.CricketLive365.service.UserService"
            android:exported="false"
            android:process="${ENGAGELAB_PRIVATES_PROCESS}">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_SERVICE" />
            </intent-filter>
        </service>

        <!-- 用于接收Engagelab业务的回调，包含了长连接状态/通知开关状态/通知消息到达/通知消息点击/通知消息删除/自定义消息/tag操作/alias操作/厂商token回调 -->
        <!-- 不需要配置子进程，此回调中在主进程中，方便业务操作 -->
        <receiver
            android:name="com.onecric.CricketLive365.service.UserReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_RECEIVER" />
            </intent-filter>
        </receiver>

        <!-- google push need -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <!--        <service-->
        <!--            android:name=".service.MyFirebaseMessagingService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

    </application>
</manifest>